
/*css style for Air Jordon*/
#search .sub-nav {
   top:100px;
   display: block;
    position: fixed;
    left: 50px;
    top: 0;
    z-index: 1001;
}

#search .sub-nav span {
    position: fixed;
    left: 340px;
    top: 30px;

}

#search .sub-nav ul {
    display: none;
}

#search .sub-nav:hover ul {
    position: fixed;
    display: block; 
    top:70px;
    left:260px;
    z-index: 1002;
}

#search .sub-nav1 {
   top:100px;
   display: block;
    position: fixed;
    left: 200;
    top: 0;
    z-index: 1001;
}

#search .sub-nav1 span {
    position: fixed;
    left: 410px;
    top: 30px;

}

#search .sub-nav1 ul {
    display: none;
}

#search .sub-nav1:hover ul {
    position: fixed;
    display: block; 
    top:70px;
    left:340px;
    z-index: 1002;
}

#search .sub-nav2 {
   top:100px;
   display: block;
    position: fixed;
    left: 200px;
    top: 0;
    z-index: 1001;
}

#search .sub-nav2 span {
    position: fixed;
    left: 500px;
    top: 30px;

}

#search .sub-nav2 ul {
    display: none;
}

#search .sub-nav2:hover ul {
    position: fixed;
    display: block; 
    top:70px;
    left:420px;
    z-index: 1002;
}

#search .sub-nav3 {
   top:100px;
   display: block;
    position: fixed;
    left: 300px;
    top: 0;
    z-index: 1001;
}

#search .sub-nav3 span {
    position: fixed;
    left: 580px;
    top: 30px;

}

#search .sub-nav3 ul {
    display: none;
}

#search .sub-nav3:hover ul {
    position: fixed;
    display: block; 
    top:70px;
    left:540px;
    z-index: 1002;
}


#search .sub-nav4 {
   top:100px;
   display: block;
    position: fixed;
    left: 50px;
    top: 0;
    z-index: 1001;
}

#search .sub-nav4 span {
    position: fixed;
    left: 700px;
    top: 30px;

}

#search .sub-nav4 ul {
    display: none;
}

#search .sub-nav4:hover ul {
    position: fixed;
    display: block; 
    top:70px;
    left:640px;
    z-index: 1002;
}



#search .gnav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    font-size: 16px;
    line-height: 2em;
    width: 100%;
    min-width: 768px;
}

#search .gnav * {
  box-sizing: border-box !important;
}

#search .gnav-bar {
	display: table;
    width: 100%;
    padding: 0 0 0 31px;
    background-color: white;
    border-bottom: 1px solid #E5E5E5;
    min-width: 768px;
    top:300px;
}

#search .gnav-bar>* {
    display: table-cell;
    height: 68px;
}

#search .gnav-bar--home {
    text-align: center;
    vertical-align: middle;
    width: 58px;
}

#search .gnav-bar--sections {
    background-color: white;
    text-align: center;
    padding-left: 90px;
    font-size: 0;
}

#search .gnav-bar--sections .gnav-bar--section {
    display: inline-block;
    border-bottom: 2px solid transparent;
    padding: 0 20px;
    font-size: 12px;
}


#search .gnav-bar--sections a.gnav-bar--section-tab {
    height: 66px;
    line-height: 68px;
}

#search .search-result-main {
    position: fixed;
    top: 80px;
    right: 10px;
    width: 600px;
}

#search .search-result-container {
    width:50%;
    display: inline-block;
}

#search .gnav-member-bar a, .gnav-bar a {
    color: #8D8D8D;
    text-decoration: none;
    outline: 0;
}

#search .nsg-font-family--platform {
    font-style: normal;
}

#search .nsg-font-family--platform, .nsg-font-family--platform-i {
    font-weight: 400;
    font-family: 675334, Helvetica, Arial, sans-serif;
}

#search .gnav-bar--sections a.gnav-bar--section-tab {
    height: 66px;
    line-height: 68px;
}

#search .gnav-bar--facet-label {
	color: rgb(17, 17, 17);
}

#search .gnav-bar--sections a {
    color: #111;
    display: inline-block;
}

#search ol, ul {
    list-style: none;
}

#search .show .css-qty32y, .show [data-css-qty32y] {
    display: block;
}

#search .css-qty32y, [data-css-qty32y] {
    height: auto;
    display: none;
    position: relative;
    background: transparent;
}

/*  VIGGY CSS BELOW  */

#search .gnav-bar {
  margin-right: 95px;
}

#search .top-bar {
  padding-left: 0px;
  padding-right: 95px;
  align-content: center;
  width: fit-content;
}